.dom-status-active {
	float: left;
	height: 19px;
	width: 50px;
	background: url(tick.gif) no-repeat;
	background-position: center left;
}

.dom-status-inactive {
	float: left;
	height: 19px;
	width: 50px;
	background: url(cross.gif) no-repeat;
	background-position: center left;
}